h1{
    text-align: center;
    text-decoration: underline;
    font-size: 34px;
    color: rgb(240, 242, 245);
}

h2{
    text-align: justify;
    font-size: 25px;
    color: rgb(206, 211, 212);
}

h3{
    text-align: justify;
    color: rgb(206, 211, 212);
}

p{
    text-align: justify;
    color: rgb(225, 229, 230);
    font-size: 14px;
}

