html{
    background-image: url(https://raw.githubusercontent.com/Tommy307/my-university-work/master/silverware.jpg);
    background-size: 90px;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-family:Century Gothic, Futura, Verdana;
    font-size:22pt;color: #A4A400;
    letter-spacing: 0.2em;
    background-color: #F0F0F0;
}

h2{
    color: #A4A400;
    font-size:18pt;
    font-family:Century Gothic, Futura, Verdana;
    text-decoration: underline;
    letter-spacing: 0.2em;
    background-color: #F0F0F0;
}

ul li{
    font-size:11pt;
    color:#404040;
    list-style: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif);
}

a{
    text-decoration: underline;
    font-size: 20px;
    color:#A4A400;
}

